* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.board-game-container {
  display: flex;
  justify-content: space-evenly;
}

.button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.player-wrap__tscore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.player-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
  border: none;
}

.total-score {
  font-size: 2rem;
  color: crimson;
}
.player-wrap__cscore-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: crimson;
  width: fit-content;
  padding: 1rem;
}
.current-score-text {
  font-size: 0.7rem;
}
.current-score {
  color: white;
}
