* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.board-game-container {
  display: flex;
  justify-content: space-evenly;
}

.button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.player-wrap__tscore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.player-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-wrap-active {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-wrap {
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
  border: none;
}

.total-score {
  font-size: 2rem;
  color: crimson;
}
.player-wrap__cscore-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: crimson;
  width: fit-content;
  padding: 1rem;
}
.current-score-text {
  font-size: 0.7rem;
}
.current-score {
  color: white;
}

.active-player {
  height: 0.5rem;
  width: 0.5rem;
  background-color: crimson;
  border-radius: 50%;
}

.dice {
  width: 100px;
  height: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dice1 {
  background: url(./images/dice-1.png) no-repeat center center/cover;
}
.dice2 {
  background: url(./images/dice-2.png) no-repeat center center/cover;
}
.dice3 {
  background: url(./images/dice-3.png) no-repeat center center/cover;
}
.dice4 {
  background: url(./images/dice-4.png) no-repeat center center/cover;
}
.dice5 {
  background: url(./images/dice-5.png) no-repeat center center/cover;
}
.dice6 {
  background: url(./images/dice-6.png) no-repeat center center/cover;
}
